:root {
    --white_wash: #faf3ee;
    --lighthouse_red: rgba(230, 57, 70, 0.93);
    --morning_sea: #A8DADC;
    --deep_ocean: #4c81a4;
    --stormy_night: #152b42;
    --sail_blue: #1d3557;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--stormy_night);
    background-color: var(--white_wash);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    all: unset;
    text-decoration: underline;
}

a:hover {
    color: var(--morning_sea);
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.card {
    padding-top: .2em;
    border-radius: 1em;
    padding-left: 3em;
    padding-right: 3em;
    background-color: var(--lighthouse_red);
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.no-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.error {
    background-color: black;
    color: red;
    text-decoration: underline;
}